{% load bootstrap_customizer cache %}<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bootstrap Customizer Example</title>
  {% cache 600 css-above-the-fold request.site request.bootstrap_theme.updated %}
    <style lang="css">{% bootstrap_theme_css_above_the_fold %}</style>
  {% endcache %}
  <style lang="css">
    .min-height-5 {min-height: 5rem}
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <section class="py-5 bg-light text-dark">
    <div class="container">
      <h4>Colours</h4>
      <div class="row">
        <div class="col d-flex align-items-center justify-content-center bg-primary text-light min-height-5">Primary</div>
        <div class="col d-flex align-items-center text-center justify-content-center bg-secondary text-light min-height-5">Secondary</div>
        <div class="col d-flex align-items-center justify-content-center bg-info text-light min-height-5">Info</div>
        <div class="col d-flex align-items-center justify-content-center bg-success text-light min-height-5">Success</div>
        <div class="col d-flex align-items-center justify-content-center bg-warning text-light min-height-5">Warning</div>
        <div class="col d-flex align-items-center justify-content-center bg-danger text-light min-height-5">Danger</div>
      </div>
    </div>
  </section>
  <section class="py-5 bg-info text-light">
    <div class="container">
      <h1>Headings <small>(Heading 1)</small></h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      <h4>Buttons</h4>
      <div class="form-group">
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>
        <button type="button" class="btn btn-link">Link</button>
      </div>
      <h5>Outlined</h5>
      <div class="form-group">
        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-outline-success">Success</button>
        <button type="button" class="btn btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        <button type="button" class="btn btn-outline-light">Light</button>
        <button type="button" class="btn btn-outline-dark">Dark</button>
        <button type="button" class="btn btn-outline-link">Link</button>
      </div>
      <h5>Sizes</h5>
      <div class="form-group">
        <button class="btn btn-primary btn-lg">Large</button>
        <button class="btn btn-primary">Regular</button>
        <button class="btn btn-primary btn-sm">Small</button>
      </div>
    </div>
  </section>

  <section class="py-5 bg-dark text-light">
    <div class="container">
      <h4>Form Elements</h4>

      <div class="form-group">
        <label for="username">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input type="text" class="form-control" id="username" placeholder="Username" required>
        </div>
      </div>

      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
        </div>
      </div>

      <div class="form-group">
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
        </div>
      </div>

      <div class="form-group">
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
        </div>
      </div>

      <div class="form-group">
        <select class="custom-select">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
  </section>

  <section class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h4>List Group</h4>
          <ul class="list-group text-dark">
            <li class="list-group-item active">Active</li>
            <li class="list-group-item">Regular</li>
            <li class="list-group-item disabled">Disabled</li>
            <li class="list-group-item">Regular</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h4>Card</h4>
          <div class="card">
            <h5 class="card-header">Card Header</h5>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5 bg-dark text-light">
    <div class="container">
      <h4>Alerts</h4>
      <div class="alert alert-danger">Danger</div>
      <div class="alert alert-info">Info</div>
      <div class="alert alert-success">Success</div>
      <div class="alert alert-warning">Warning</div>
      <div class="alert alert-secondary">Secondary</div>
      <div class="alert alert-primary">Primary</div>
    </div>
  </section>
  <noscript id="deferred-styles">
    <link rel="stylesheet" type="text/css" href="{% bootstrap_theme_css_below_the_fold_url %}">
  </noscript>
  <script>
    var loadDeferredStyles = function() {
      var addStylesNode = document.getElementById("deferred-styles");
      var replacement = document.createElement("div");
      replacement.innerHTML = addStylesNode.textContent;
      document.body.appendChild(replacement)
      addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
    else window.addEventListener('load', loadDeferredStyles);
  </script>
</body>
</html>
